sampleFlow.json
[{"id":"28863259.ac7cfe","type":"tab","label":"サンプル","disabled":false,"info":""},{"id":"42949773.e3e1d8","type":"comment","z":"28863259.ac7cfe","name":"モーターの選択　最初に見つけたモータに接続しLEDを点滅させる","info":"","x":260,"y":80,"wires":[]},{"id":"21238cc1.9f95a4","type":"km-motor-usb-selector","z":"28863259.ac7cfe","name":"","selectMotorName":"","selectMotorNameself":false,"isInitializScan":true,"isMotorKeepalive":false,"x":280,"y":140,"wires":[["7b8a0ab5.49a2c4"]]},{"id":"498d6455.2b0efc","type":"inject","z":"28863259.ac7cfe","name":"start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["21238cc1.9f95a4"]]},{"id":"7b8a0ab5.49a2c4","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"cmdLed\",\"arg\":[2,200,200,0]}","isErrStop":false,"x":570,"y":140,"wires":[["c6c8a748.75da68"]]},{"id":"c6c8a748.75da68","type":"delay","z":"28863259.ac7cfe","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":200,"wires":[["a977f776.f24208"]]},{"id":"a977f776.f24208","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"cmdLed\",\"arg\":[2,0,200,200]}","isErrStop":false,"x":570,"y":200,"wires":[[]]},{"id":"68cdd273.67093c","type":"km-motor-usb-selector","z":"28863259.ac7cfe","name":"","selectMotorName":"","isInitializScan":false,"isMotorKeepalive":false,"x":280,"y":360,"wires":[["9f3c0622.ea7698"]]},{"id":"3f0e98b0.c4e8a8","type":"inject","z":"28863259.ac7cfe","name":"start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["68cdd273.67093c"]]},{"id":"9f3c0622.ea7698","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"cmdEnable\"}","isErrStop":false,"x":500,"y":360,"wires":[["5567eb1b.1af8b4"]]},{"id":"5567eb1b.1af8b4","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"cmdRun_rpm\",\"arg\":[10]}","isErrStop":false,"x":380,"y":420,"wires":[["f3c042c5.35684"]]},{"id":"8639964a.f82788","type":"comment","z":"28863259.ac7cfe","name":"モーターの回転（無限回転）","info":"","x":140,"y":300,"wires":[]},{"id":"740f1f90.3fb11","type":"comment","z":"28863259.ac7cfe","name":"10rpmで5秒回転 -> 逆回転 -> 停止","info":"","x":840,"y":420,"wires":[]},{"id":"f3c042c5.35684","type":"delay","z":"28863259.ac7cfe","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":420,"wires":[["a49ded2.569281"]]},{"id":"a49ded2.569281","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"cmdRun_rpm\",\"arg\":[-10]}","isErrStop":false,"x":380,"y":460,"wires":[["49f98e16.c0adf"]]},{"id":"49f98e16.c0adf","type":"delay","z":"28863259.ac7cfe","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":460,"wires":[["85ba4bf3.bff438"]]},{"id":"85ba4bf3.bff438","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"cmdFree\"}","isErrStop":false,"x":330,"y":500,"wires":[[]]},{"id":"db1252cc.6088f","type":"comment","z":"28863259.ac7cfe","name":"モーターの回転（角度指定）","info":"","x":140,"y":660,"wires":[]},{"id":"f1e4e36d.25654","type":"km-motor-usb-selector","z":"28863259.ac7cfe","name":"","selectMotorName":"","isInitializScan":false,"isMotorKeepalive":false,"x":280,"y":720,"wires":[["ef9c2b14.ae1ac8"]]},{"id":"943621ca.420ad","type":"inject","z":"28863259.ac7cfe","name":"true","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":720,"wires":[["f1e4e36d.25654"]]},{"id":"ef9c2b14.ae1ac8","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"cmdEnable\"}","isErrStop":false,"x":500,"y":720,"wires":[["90876ae5.da9098"]]},{"id":"e47ab839.de7d78","type":"inject","z":"28863259.ac7cfe","name":"stop","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["a34b5004.ab2fd"]]},{"id":"a34b5004.ab2fd","type":"km-motor-usb-selector","z":"28863259.ac7cfe","name":"","selectMotorName":"","isInitializScan":false,"isMotorKeepalive":false,"x":280,"y":560,"wires":[["8c2e341d.271708"]]},{"id":"8c2e341d.271708","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"cmdDisable\"}","isErrStop":false,"x":500,"y":560,"wires":[[]]},{"id":"90876ae5.da9098","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"cmdMoveByDistance\",\"arg\":[3.14,6.28]}","isErrStop":false,"x":410,"y":780,"wires":[[]]},{"id":"90ce1292.5504b","type":"comment","z":"28863259.ac7cfe","name":"現在位置から180度回転","info":"","x":740,"y":780,"wires":[]},{"id":"85408939.fb5158","type":"km-motor-usb-selector","z":"28863259.ac7cfe","name":"","selectMotorName":"","isInitializScan":false,"isMotorKeepalive":false,"x":280,"y":940,"wires":[["8185fba9.86a0e8"]]},{"id":"5aef9cf0.836b24","type":"inject","z":"28863259.ac7cfe","name":"true","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":940,"wires":[["85408939.fb5158"]]},{"id":"428d2ea5.c1c2b","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"cmdMoveByDistanceSync\",\"arg\":[18.84,3.14,null]}","isErrStop":false,"x":320,"y":1000,"wires":[["1a8cdb0e.8d8335"]]},{"id":"8185fba9.86a0e8","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"cmdEnable\"}","isErrStop":false,"x":520,"y":940,"wires":[["428d2ea5.c1c2b"]]},{"id":"845689f9.609208","type":"comment","z":"28863259.ac7cfe","name":"3回転毎に往復回転を繰り返す","info":"","x":700,"y":1000,"wires":[]},{"id":"1a8cdb0e.8d8335","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"cmdMoveByDistanceSync\",\"arg\":[-18.84,3.14,null]}","isErrStop":false,"x":320,"y":1060,"wires":[["428d2ea5.c1c2b"]]},{"id":"8a4e0512.0f4908","type":"comment","z":"28863259.ac7cfe","name":"モーターの回転（往復運動）","info":"","x":140,"y":880,"wires":[]},{"id":"38a0f988.c75b76","type":"km-motor-usb-selector","z":"28863259.ac7cfe","name":"","selectMotorName":"","isInitializScan":false,"isMotorKeepalive":false,"x":280,"y":1260,"wires":[["841d12bf.2632e"]]},{"id":"e3e8a15e.b2507","type":"inject","z":"28863259.ac7cfe","name":"true","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1260,"wires":[["38a0f988.c75b76"]]},{"id":"841d12bf.2632e","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"onMotorMeasurement\"}","isErrStop":false,"x":540,"y":1260,"wires":[["975b17e1.c5d498"]]},{"id":"975b17e1.c5d498","type":"debug","z":"28863259.ac7cfe","name":"Measurement","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":1260,"wires":[]},{"id":"35fba84e.454d78","type":"km-motor-usb-selector","z":"28863259.ac7cfe","name":"","selectMotorName":"","isInitializScan":false,"isMotorKeepalive":false,"x":280,"y":1320,"wires":[["bbf32ea5.1b5aa"]]},{"id":"dc6354fd.ab10b8","type":"inject","z":"28863259.ac7cfe","name":"true","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1320,"wires":[["35fba84e.454d78"]]},{"id":"bbf32ea5.1b5aa","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"onMotorLog\"}","isErrStop":false,"x":500,"y":1320,"wires":[["d2f31f6a.f3ba8"]]},{"id":"d2f31f6a.f3ba8","type":"debug","z":"28863259.ac7cfe","name":"motorLog","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":1320,"wires":[]},{"id":"6a144806.be86a8","type":"comment","z":"28863259.ac7cfe","name":"モーター通知の取得","info":"","x":110,"y":1200,"wires":[]},{"id":"6dfaf77d.983238","type":"inject","z":"28863259.ac7cfe","name":"stop","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1120,"wires":[["52928e07.6056e"]]},{"id":"52928e07.6056e","type":"km-motor-usb-selector","z":"28863259.ac7cfe","name":"","selectMotorName":"","isInitializScan":false,"isMotorKeepalive":false,"x":280,"y":1120,"wires":[["cce53199.a028c"]]},{"id":"cce53199.a028c","type":"km-motor-sequencer","z":"28863259.ac7cfe","name":"","cmdJson":"{\"cmd\":\"cmdDisable\"}","isErrStop":false,"x":500,"y":1120,"wires":[[]]}]